.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding-bottom: 10px;
}

.repl-div {
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #141422;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* width: 90%;
  margin: 30px auto;
  box-shadow: 0px 10px 30px #000; */
  padding: 10px 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@media only screen and (max-width: 340px) {
  .repl {
    width: 270px;
    margin: 0px auto;
    padding: 0px;
  }
}
@media only screen and (min-width: 340px) {
  .repl {
    width: 310px;
  }
}
@media only screen and (min-width: 400px) {
  .repl {
    width: 380px;
  }
}
@media only screen and (min-width: 480px) {
  .repl {
    width: 450px;
  }
}
@media only screen and (min-width: 600px) {
  .repl {
    width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .repl {
    width: 740px;
  }
}
@media only screen and (min-width: 992px) {
  .repl {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .repl {
    width: 1024px;
  }
}
